In [1]:
import pandas as pd

In [2]:
def saveDataFrame(dataframes,filepath,names):
    writer = pd.ExcelWriter(filepath, engine='xlsxwriter')
    for df,sname in zip(dataframes,names):
        df.to_excel(writer,sheet_name=sname)   
    writer.save()

In [3]:
"""processing related codes"""
def initializeFrames(df):
    for col in df.columns:
        if col !='IPCNo':
            df[col].values[:] = 0
    return df
"""Calculate Distribution Factor"""
def calcualteTotalBill(df):
    for index,row in df.iterrows():
        total=row['Gob']+row['Rpa']
        print(total)
        df.iloc[index,11]=total
    return df
"""Calcualte Distribution Factor"""
def calcualteTotalBill(df):
    for index,row in df.iterrows():
        total=row['Gob']+row['Rpa']
        print(total)
        df.iloc[index,11]=total
    return df
def calcualteDistributionFactor(df1,df2):
    for index,row in df1.iterrows():
        total=row['Total']
        for i in range(1,11):
            df2.iloc[index,i]=df1.iloc[index,i]/total
    return df2
def calculateDistributedValueGob(df1,df2,df3):
    for index,row in df1.iterrows():
        dtotal=0
        total=row['Gob']
        for i in range(1,11):
            distributed_val=round(df2.iloc[index,i]*total,2)
            dtotal+=distributed_val
            df3.iloc[index,i]=distributed_val
        df3.iloc[index,11]=dtotal
    return df3
def calculateDistributedValueRpa(df1,df2,df3):
    for index,row in df1.iterrows():
        dtotal=0
        total=row['Rpa']
        for i in range(1,11):
            distributed_val=round(df2.iloc[index,i]*total,2)
            dtotal+=distributed_val
            df3.iloc[index,i]=distributed_val
        df3.iloc[index,11]=dtotal
    return df3

In [4]:
input_path=r'F:\website\cmis6\Civilworks cost\IPC Distribution.xlsx'
output_path=r'F:\website\cmis6\Civilworks cost\output.xlsx'

In [5]:
sheetName='IPC_Dist'
mydf=pd.read_excel(input_path,sheet_name=sheetName)
mydf.fillna(0,inplace=True)
dist_df=mydf.copy(deep=True)
rpa_df=mydf.copy(deep=True)
gob_df=mydf.copy(deep=True)
dist_df=dist_df.drop(['Gob','Rpa'],axis=1)
rpa_df=rpa_df.drop(['Gob','Rpa'],axis=1)
gob_df=gob_df.drop(['Gob','Rpa'],axis=1)

In [6]:
"""Initializing frames"""
dist_df=initializeFrames(dist_df)
rpa_df=initializeFrames(rpa_df)
gob_df=initializeFrames(gob_df)
mydf=calcualteTotalBill(mydf)
dist_df=calcualteDistributionFactor(mydf,dist_df)
gob_df=calculateDistributedValueGob(mydf,dist_df,gob_df)
rpa_df=calculateDistributedValueRpa(mydf,dist_df,rpa_df)

19538364

In [7]:
mydf

,IPCNo,Inlet,Reg_Rehab_Rehab,Reg_CW_Box,Khal_Riv_New,Khal_Riv_Rehab,Full_Emb_Rehab,Sub_Emb_Rehab,Sub_Emb_Const,Reg_Rehab_New,Wmg_Office,Total,Gob,Rpa
0,156/SUNM-01 4th RA Bill,0.0,0.0,10121557.06,0.0,0.0,0.0,0.0,9416806.852,0.0,0.0,19538364.0,2442296,17096068

In [8]:
frames=[]
names=[]
frames.append(mydf)
frames.append(dist_df)
frames.append(rpa_df)
frames.append(gob_df)
names.append('original')
names.append('dfactor')
names.append("rpa")
names.append("gob")
saveDataFrame(frames,output_path,names)