In [1]:
import pandas as pd
import os

In [2]:
def saveDataFrame(dataframes,filepath,names):
    writer = pd.ExcelWriter(filepath, engine='xlsxwriter')
    for df,sname in zip(dataframes,names):
        df.to_excel(writer,sheet_name=sname)   
    writer.save()

In [3]:
def calCulateBrick(base_area):
    bricks=round((base_area*32)/6,4)
    return bricks
def calculateConcreteMaterial(cem,ca,fa,block_vol):
    cem_w=cem*1440
    sand_w=ca*1600
    stone_w=fa*1700    
    sand_r=sand_w/cem_w
    stone_r=stone_w/cem_w
    water_r=0.45
    print("{}:{}:{}".format(1,sand_r, stone_r))
    cem_vol=1/(3150.0)
    sand_vol= sand_r/(2600.0)
    stone_vol=stone_r/(2700.0)
    water_vol=water_r/(1000.0)    
    un_compacted_volume_perkg=cem_vol+sand_vol+stone_vol+water_vol
    compacted_volume_perkg=un_compacted_volume_perkg*0.97
    print("un_compact_vol={} compact_vol={}".format(un_compacted_volume_perkg,compacted_volume_perkg))
    cement_in_weight=block_vol/compacted_volume_perkg
    sand_in_weight=cement_in_weight*sand_r
    stone_in_weight=cement_in_weight*stone_r
    print("in kg cement={} sand={} stone={}".format(cement_in_weight,sand_in_weight,stone_in_weight))
    sand_in_vol=sand_in_weight/1600.0
    stone_in_vol= stone_in_weight/1550.0
    myvalue={'cement':cement_in_weight,'sand':sand_in_vol,'stone':stone_in_vol}
    print(myvalue)
    return myvalue

In [4]:
def calcualteFormWork(perimeter,height):
    h=height
    plain_sheet=round(perimeter*height,4)
    angle_length=2*perimeter+6*h
    angle1=(2*perimeter+6*h)*1.9157
    angle1=round(angle1,4)
    angle2=angle1/5855
    angle2=round(angle2,4)
    welding=int(angle_length*24)
    myvalue={'angle1':angle1,'angle2':angle2,'plain_sheet':plain_sheet,'welding':welding}
    print(myvalue)
    return myvalue

In [5]:
def calcualteQuantity(template,input_df,prod_data,cost_data):
    mylist=list(template['rate'])
    for index,row in input_df.iterrows():
        qmultiplirer=row['quantity_req']
        vat_rate=0.075
        code=row['codeNo']
        mydata=[]
        mycost_data=[]
        test_data
        L=row['Length']/100
        W=row['Bbreadth']/100
        H=row['Height']/100
        volume=L*W*H
        perimeter=2*(L+H)
        base_area=L*H
        print("volume={} perimeter={} base_area={}".format(volume,perimeter,base_area))
        """adding brick"""
        brick=calCulateBrick(base_area)
        
        "adding bricks"
        mydata.append(brick)
        mycost_data.append(brick*template.iloc[0,3])
       
        print("brick={}".format(brick))
        "adding sand,cement,stone"
        cem=row['Cement']
        sand=row['Sand']
        stone=row['Stone']
        myvalue=calculateConcreteMaterial(cem,sand,stone,volume)
        mydata.append(myvalue['cement'])
        mydata.append(myvalue['sand'])
        mydata.append(myvalue['stone'])
        mycost_data.append(myvalue['cement']*template.iloc[1,3])
        mycost_data.append(myvalue['sand']*template.iloc[2,3])
        mycost_data.append(myvalue['stone']*template.iloc[3,3])
        "adding disel and mobil"
        disel=prod_data.iloc[0,3]*volume
        mobil=prod_data.iloc[1,3]*volume
        print("disel={} mobil={}".format(disel,mobil))
        mydata.append(disel)
        mydata.append(mobil)
        mycost_data.append(disel*template.iloc[4,3])
        mycost_data.append(mobil*template.iloc[5,3])
        polythin=base_area*1.5
        """adding polythene"""
        mydata.append(polythin)
        mycost_data.append(polythin*template.iloc[6,3])
        print("polythin={}".format(polythin))
        
        putty=round(prod_data.iloc[2,3]*volume,4)
        print("putty={}".format(putty))
        """adding putty"""
        mydata.append(putty)
        mycost_data.append(putty*template.iloc[7,3])
        """Adding Metal Works"""
        formwork=calcualteFormWork(perimeter,H)
        mydata.append(formwork['angle1'])
        mydata.append(formwork['angle2'])
        mydata.append(formwork['plain_sheet'])
        mydata.append(formwork['welding'])
        mycost_data.append(formwork['angle1']*template.iloc[8,3]*0.015)
        mycost_data.append(formwork['angle2']*template.iloc[9,3]*0.015)
        mycost_data.append(formwork['plain_sheet']*template.iloc[10,3]*0.015)
        mycost_data.append(formwork['welding']*template.iloc[11,3]*0.015)
        """Adding Equipments"""
        mixture_machine=round(prod_data.iloc[3,3]*volume,4)
        mydata.append(mixture_machine)
        mycost_data.append(mixture_machine*template.iloc[12,3])
        """Adding Labours"""
        unskilled=round(prod_data.iloc[4,3]*volume,4)
        masson=round(prod_data.iloc[5,3]*volume,4)
        headmasson=round(prod_data.iloc[6,3]*volume,4)
        messonhelper=round(prod_data.iloc[7,3]*volume,4)
        operator=round(prod_data.iloc[8,3]*volume,4)
        welder=round(prod_data.iloc[9,3]*formwork['welding'],4)
        print("unsk={} m={} mhd={} mhl={} op={} welder={}".format(unskilled,masson,
                                                                  headmasson,messonhelper,operator,welder))
        mydata.append(unskilled)       
        mydata.append(masson)
        mydata.append(headmasson)
        mydata.append(messonhelper)
        mydata.append(operator)
        mydata.append(welder)
        
        mycost_data.append(unskilled*template.iloc[13,3])
        mycost_data.append(masson*template.iloc[14,3])        
        mycost_data.append(headmasson*template.iloc[15,3])
        mycost_data.append(messonhelper*template.iloc[16,3])
        mycost_data.append(operator*template.iloc[17,3])
        mycost_data.append(welder*template.iloc[18,3])     
        "trasfering analysis data to data frame"
        template[code]=mydata
        """Calcualting overhead,vat,tax"""
        sum_sub_total=sum(mycost_data)
        mycost_data.append(sum_sub_total)
        overhead=0.025*sum_sub_total
        mycost_data.append(overhead)
        item_total= sum_sub_total+overhead
        mycost_data.append(item_total)
        cp=item_total*0.1
        mycost_data.append(cp)
        total=item_total+cp
        mycost_data.append(total)
        vat=vat_rate*total
        mycost_data.append(vat)
        grand_total=total+vat
        mycost_data.append(grand_total)
        print(template.info())
        print(mydata)
        print(mycost_data)
        cost_data[code]=mycost_data
        myvalues={'q':template,'c':cost_data}
    return myvalues
def calcualteQuantity2(template,input_df,prod_data,cost_data):
    total_quantity_df=template.copy(deep=True)
    mylist=list(template['rate'])
    for index,row in input_df.iterrows():
        qmultiplirer=row['quantity_req']
        vat_rate=0.075
        code=row['codeNo']
        mydata=[]
        mycost_data=[]
        test_data=[]
        L=row['Length']/100
        W=row['Bbreadth']/100
        H=row['Height']/100
        volume=L*W*H
        perimeter=2*(L+H)
        base_area=L*H
        print("volume={} perimeter={} base_area={}".format(volume,perimeter,base_area))
        """adding brick"""
        brick=calCulateBrick(base_area)
        
        "adding bricks"
        mydata.append(brick)
        mycost_data.append(brick*template.iloc[0,3])
       
        print("brick={}".format(brick))
        "adding sand,cement,stone"
        cem=row['Cement']
        sand=row['Sand']
        stone=row['Stone']
        myvalue=calculateConcreteMaterial(cem,sand,stone,volume)
        mydata.append(myvalue['cement'])
        mydata.append(myvalue['sand'])
        mydata.append(myvalue['stone'])
        mycost_data.append(myvalue['cement']*template.iloc[1,3])
        mycost_data.append(myvalue['sand']*template.iloc[2,3])
        mycost_data.append(myvalue['stone']*template.iloc[3,3])
        "adding disel and mobil"
        disel=prod_data.iloc[0,3]*volume
        mobil=prod_data.iloc[1,3]*volume
        print("disel={} mobil={}".format(disel,mobil))
        mydata.append(disel)
        mydata.append(mobil)
        mycost_data.append(disel*template.iloc[4,3])
        mycost_data.append(mobil*template.iloc[5,3])
        polythin=base_area*1.5
        """adding polythene"""
        mydata.append(polythin)
        mycost_data.append(polythin*template.iloc[6,3])
        print("polythin={}".format(polythin))
        
        putty=round(prod_data.iloc[2,3]*volume,4)
        print("putty={}".format(putty))
        """adding putty"""
        mydata.append(putty)
        mycost_data.append(putty*template.iloc[7,3])
        """Adding Metal Works"""
        formwork=calcualteFormWork(perimeter,H)
        mydata.append(formwork['angle1'])
        mydata.append(formwork['angle2'])
        mydata.append(formwork['plain_sheet'])
        mydata.append(formwork['welding'])
        mycost_data.append(formwork['angle1']*template.iloc[8,3]*0.015)
        mycost_data.append(formwork['angle2']*template.iloc[9,3]*0.015)
        mycost_data.append(formwork['plain_sheet']*template.iloc[10,3]*0.015)
        mycost_data.append(formwork['welding']*template.iloc[11,3]*0.015)
        """Adding Equipments"""
        mixture_machine=round(prod_data.iloc[3,3]*volume,4)
        mydata.append(mixture_machine)
        mycost_data.append(mixture_machine*template.iloc[12,3])
        """Adding Labours"""
        unskilled=round(prod_data.iloc[4,3]*volume,4)
        masson=round(prod_data.iloc[5,3]*volume,4)
        headmasson=round(prod_data.iloc[6,3]*volume,4)
        messonhelper=round(prod_data.iloc[7,3]*volume,4)
        operator=round(prod_data.iloc[8,3]*volume,4)
        welder=round(prod_data.iloc[9,3]*formwork['welding'],4)
        print("unsk={} m={} mhd={} mhl={} op={} welder={}".format(unskilled,masson,
                                                                  headmasson,messonhelper,operator,welder))
        mydata.append(unskilled)       
        mydata.append(masson)
        mydata.append(headmasson)
        mydata.append(messonhelper)
        mydata.append(operator)
        mydata.append(welder)
        
        mycost_data.append(unskilled*template.iloc[13,3])
        mycost_data.append(masson*template.iloc[14,3])        
        mycost_data.append(headmasson*template.iloc[15,3])
        mycost_data.append(messonhelper*template.iloc[16,3])
        mycost_data.append(operator*template.iloc[17,3])
        mycost_data.append(welder*template.iloc[18,3])     
        "trasfering analysis data to data frame"
        template[code]=mydata
        """Calcualting overhead,vat,tax"""
        sum_sub_total=sum(mycost_data)
        mycost_data.append(sum_sub_total)
        overhead=0.025*sum_sub_total
        mycost_data.append(overhead)
        item_total= sum_sub_total+overhead
        mycost_data.append(item_total)
        cp=item_total*0.1
        mycost_data.append(cp)
        total=item_total+cp
        mycost_data.append(total)
        vat=vat_rate*total
        mycost_data.append(vat)
        grand_total=total+vat
        mycost_data.append(grand_total)
        print(template.info())
        print(mydata)
        print(mycost_data)
        cost_data[code]=mycost_data
        
        """Transfering Total quantity"""
        totalData=[x*qmultiplirer for x in mydata ]
        total_quantity_df[code]=totalData
        myvalues={'q':template,'c':cost_data,'tc': total_quantity_df}
    return myvalues

In [6]:
#myfolder=r'E:\Website_26_07_2020\cmis6\Civilworks cost\Analysis Template' #home computer
myfolder=r'F:\website\cmis6\Civilworks cost\Analysis Template' #Office computer
input_path=os.path.join(myfolder,'Material Analysis Input.xlsx')
output_path=os.path.join(myfolder,'Material Analysis output.xlsx')

In [7]:
sheetName='Template_Quantity'
q_template_df=pd.read_excel(input_path,sheet_name=sheetName)
sheetName='Production Rate'
production_rate_df=pd.read_excel(input_path,sheet_name=sheetName)
production_rate_df
sheetName='Block Data'
block_data_df=pd.read_excel(input_path,sheet_name=sheetName)
block_data_df
sheetName='Template_Cost'
c_template_df=pd.read_excel(input_path,sheet_name=sheetName)
"""Analysing data"""
myvalues=calcualteQuantity2(q_template_df,block_data_df,production_rate_df,c_template_df)
q_template_df=myvalues['q']
c_template_df=myvalues['c']
total_quantity_df=myvalues['tc']

volume=0.125 perimeter=2.0 base_area=0.25
brick=1.3333
1:2.7777777777777777:5.902777777777778
un_compact_vol=0.004022050377605933 compact_vol=0.003901388866277755
in kg cement=32.03987202620493 sand=88.99964451723592 stone=189.12424459912634
{'cement': 32.03987202620493, 'sand': 0.05562477782327245, 'stone': 0.1220156416768557}
disel=0.1765375 mobil=0.00885
polythin=0.375
putty=0.0041
{'angle1': 13.4099, 'angle2': 0.0023, 'plain_sheet': 1.0, 'welding': 168}
unsk=0.3578 m=0.0232 mhd=0.0043 mhl=0.0109 op=0.0074 welder=0.0028
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   codeno       19 non-null     object
 1   Description  19 non-null     object
 2   Unit         19 non-null     object
 3   rate         19 non-null     float64
 4   40-190-15    19 non-null     float64
dtypes: float64(2), object(3)
memory usage: 888.0+ bytes
None
[1.3333, 32.03987202620493, 0.05562477782327245, 0.1220156416768557, 0.1765375, 0.00885, 0.375, 0.0041, 13.4099, 0.0023, 1.0, 168, 0.0074, 0.3578, 0.0232, 0.0043, 0.0109, 0.0074, 0.0028]
[12.66635, 320.3987202620493, 58.40601671443607, 793.1016708995621, 11.474937500000001, 3.54, 5.625, 0.328, 12.06891, 0.0020700000000000002, 9.0, 6.3, 8.14, 171.744, 14.383999999999999, 2.795, 5.123, 4.8100000000000005, 1.736, 1441.6436753760474, 36.04109188440119, 1477.6847672604486, 147.76847672604487, 1625.4532439864934, 121.908993298987, 1747.3622372854804]
volume=0.075 perimeter=1.6 base_area=0.15
brick=0.8
1:2.7777777777777777:5.902777777777778
un_compact_vol=0.004022050377605933 compact_vol=0.003901388866277755
in kg cement=19.223923215722955 sand=53.39978671034154 stone=113.47454675947577
{'cement': 19.223923215722955, 'sand': 0.03337486669396346, 'stone': 0.0732093850061134}
disel=0.1059225 mobil=0.00531
polythin=0.22499999999999998
putty=0.0025
{'angle1': 9.5785, 'angle2': 0.0016, 'plain_sheet': 0.48, 'welding': 120}
unsk=0.2146 m=0.014 mhd=0.0026 mhl=0.0065 op=0.0044 welder=0.002
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   codeno       19 non-null     object
 1   Description  19 non-null     object
 2   Unit         19 non-null     object
 3   rate         19 non-null     float64
 4   40-190-15    19 non-null     float64
 5   40-190-05    19 non-null     float64
dtypes: float64(3), object(3)
memory usage: 1.0+ KB
None
[0.8, 19.223923215722955, 0.03337486669396346, 0.0732093850061134, 0.1059225, 0.00531, 0.22499999999999998, 0.0025, 9.5785, 0.0016, 0.48, 120, 0.0044, 0.2146, 0.014, 0.0026, 0.0065, 0.0044, 0.002]
[7.6000000000000005, 192.23923215722954, 35.04361002866163, 475.8610025397371, 6.8849625, 2.1239999999999997, 3.3749999999999996, 0.2, 8.62065, 0.0014399999999999999, 4.32, 4.5, 4.84, 103.00800000000001, 8.68, 1.69, 3.0549999999999997, 2.8600000000000003, 1.24, 866.1428972256284, 21.65357243064071, 887.7964696562691, 88.77964696562691, 976.5761166218961, 73.2432087466422, 1049.8193253685383]
volume=0.06400000000000002 perimeter=1.6 base_area=0.16000000000000003
brick=0.8533
1:2.7777777777777777:5.902777777777778
un_compact_vol=0.004022050377605933 compact_vol=0.003901388866277755
in kg cement=16.40441447741693 sand=45.5678179928248 stone=96.8316132347527
{'cement': 16.40441447741693, 'sand': 0.0284798862455155, 'stone': 0.062472008538550124}
disel=0.09038720000000003 mobil=0.004531200000000001
polythin=0.24000000000000005
putty=0.0021
{'angle1': 10.7279, 'angle2': 0.0018, 'plain_sheet': 0.64, 'welding': 134}
unsk=0.1832 m=0.0119 mhd=0.0022 mhl=0.0056 op=0.0038 welder=0.0023
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   codeno       19 non-null     object
 1   Description  19 non-null     object
 2   Unit         19 non-null     object
 3   rate         19 non-null     float64
 4   40-190-15    19 non-null     float64
 5   40-190-05    19 non-null     float64
 6   40-190-35    19 non-null     float64
dtypes: float64(4), object(3)
memory usage: 1.2+ KB
None
[0.8533, 16.40441447741693, 0.0284798862455155, 0.062472008538550124, 0.09038720000000003, 0.004531200000000001, 0.24000000000000005, 0.0021, 10.7279, 0.0018, 0.64, 134, 0.0038, 0.1832, 0.0119, 0.0022, 0.0056, 0.0038, 0.0023]
[8.106349999999999, 164.0441447741693, 29.903880557791275, 406.0680555005758, 5.875168000000002, 1.8124800000000003, 3.6000000000000005, 0.16799999999999998, 9.655109999999999, 0.00162, 5.76, 5.0249999999999995, 4.18, 87.936, 7.378, 1.4300000000000002, 2.632, 2.47, 1.426, 747.4718088325365, 18.686795220813412, 766.1586040533499, 76.615860405335, 842.7744644586849, 63.20808483440136, 905.9825492930862]
volume=0.03200000000000001 perimeter=1.2000000000000002 base_area=0.08000000000000002
brick=0.4267
1:2.7777777777777777:5.902777777777778
un_compact_vol=0.004022050377605933 compact_vol=0.003901388866277755
in kg cement=8.202207238708464 sand=22.7839089964124 stone=48.41580661737635
{'cement': 8.202207238708464, 'sand': 0.01423994312275775, 'stone': 0.031236004269275062}
disel=0.045193600000000014 mobil=0.0022656000000000004
polythin=0.12000000000000002
putty=0.0011
{'angle1': 6.8965, 'angle2': 0.0012, 'plain_sheet': 0.24, 'welding': 86}
unsk=0.0916 m=0.006 mhd=0.0011 mhl=0.0028 op=0.0019 welder=0.0014
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   codeno       19 non-null     object
 1   Description  19 non-null     object
 2   Unit         19 non-null     object
 3   rate         19 non-null     float64
 4   40-190-15    19 non-null     float64
 5   40-190-05    19 non-null     float64
 6   40-190-35    19 non-null     float64
 7   40-190-40    19 non-null     float64
dtypes: float64(5), object(3)
memory usage: 1.3+ KB
None
[0.4267, 8.202207238708464, 0.01423994312275775, 0.031236004269275062, 0.045193600000000014, 0.0022656000000000004, 0.12000000000000002, 0.0011, 6.8965, 0.0012, 0.24, 86, 0.0019, 0.0916, 0.006, 0.0011, 0.0028, 0.0019, 0.0014]
[4.05365, 82.02207238708465, 14.951940278895638, 203.0340277502879, 2.937584000000001, 0.9062400000000002, 1.8000000000000003, 0.08800000000000001, 6.206849999999999, 0.0010799999999999998, 2.16, 3.225, 2.09, 43.968, 3.72, 0.7150000000000001, 1.316, 1.235, 0.868, 375.29844441626824, 9.382461110406707, 384.68090552667496, 38.4680905526675, 423.14899607934245, 31.73617470595068, 454.88517078529316]
volume=1.0 perimeter=4.0 base_area=1.0
brick=5.3333
1:1.6666666666666667:3.5416666666666665
un_compact_vol=0.0027202143535476867 compact_vol=0.002638607922941256
in kg cement=378.98771973870987 sand=631.6461995645165 stone=1342.2481740745975
{'cement': 378.98771973870987, 'sand': 0.3947788747278228, 'stone': 0.8659665639190952}
disel=1.4123 mobil=0.0708
polythin=1.5
putty=0.0329
{'angle1': 26.8198, 'angle2': 0.0046, 'plain_sheet': 4.0, 'welding': 336}
unsk=2.862 m=0.186 mhd=0.0346 mhl=0.0872 op=0.0593 welder=0.0056
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   codeno       19 non-null     object
 1   Description  19 non-null     object
 2   Unit         19 non-null     object
 3   rate         19 non-null     float64
 4   40-190-15    19 non-null     float64
 5   40-190-05    19 non-null     float64
 6   40-190-35    19 non-null     float64
 7   40-190-40    19 non-null     float64
 8   28-120-20    19 non-null     float64
dtypes: float64(6), object(3)
memory usage: 1.5+ KB
None
[5.3333, 378.98771973870987, 0.3947788747278228, 0.8659665639190952, 1.4123, 0.0708, 1.5, 0.0329, 26.8198, 0.0046, 4.0, 336, 0.0593, 2.862, 0.186, 0.0346, 0.0872, 0.0593, 0.0056]
[50.66635, 3789.877197387099, 414.5178184642139, 5628.782665474119, 91.79950000000001, 28.32, 22.5, 2.6319999999999997, 24.13782, 0.0041400000000000005, 36.0, 12.6, 65.23, 1373.76, 115.32, 22.49, 40.984, 38.545, 3.472, 11761.63849132543, 294.04096228313574, 12055.679453608565, 1205.5679453608566, 13261.247398969423, 994.5935549227066, 14255.84095389213]

In [8]:
myframes=[]
mynames=[]
myframes.append(q_template_df)
mynames.append('uint quantity')
myframes.append(total_quantity_df)
mynames.append('total quantity')
myframes.append(production_rate_df)
mynames.append('production_rate')
myframes.append(block_data_df)
mynames.append('analysis_list')
myframes.append(c_template_df)
mynames.append('Analyzed_cost')
saveDataFrame(myframes,output_path,mynames)

In [9]:
production_rate_df

,code,Description,unit,consumption/unit volume,Production /unit
0,20-245,Diesel/ Fuel,litr/cum,1.412300,0.708100
1,20-310,Lubricant ( Mobile oil etc.),litr/cum,0.070800,14.124300
2,20-505,Putty,kg/cum,0.032900,30.395137
3,70-080,Mixture Machine 0.2 cum,day/cum,0.059300,16.863406
4,80-375,"Labour,Unskilled",day/cum,2.862000,0.349406
5,80-425,Mason,day/cum,0.186000,5.376344
6,80-430,"Mason, Head",day/cum,0.034600,28.901734
7,80-435,"Mason, Helper",day/cum,0.087200,11.467890
8,80-500,"Operator, Mixture Machine",day/cum,0.059300,16.863406
9,80-755,Welder,day/point,0.000017,59545.454545

In [10]:
c_template_df

,codeno,Description,Unit,rate,40-190-15,40-190-05,40-190-35,40-190-40,28-120-20
0,10-040,Bricks : 1st Class,Nos,9.5,12.666350,7.600000,8.106350,4.053650,50.666350
1,10-100,Cement : Portland .,Kgs,10.0,320.398720,192.239232,164.044145,82.022072,3789.877197
2,10-380,"Sand, FM >= 1.5",cum,1050.0,58.406017,35.043610,29.903881,14.951940,414.517818
3,10-475,"Stone, Chips : 40mm down graded",cum,6500.0,793.101671,475.861003,406.068056,203.034028,5628.782665
4,20-245,Diesel/ Fuel,litre,65.0,11.474938,6.884963,5.875168,2.937584,91.799500
5,20-310,Lubricant ( Mobile oil etc.),litre,400.0,3.540000,2.124000,1.812480,0.906240,28.320000
6,20-500,Polythene Sheet : (1.0 kg per 16.00 sqm),sqm,15.0,5.625000,3.375000,3.600000,1.800000,22.500000
7,20-505,Putty,kg,80.0,0.328000,0.200000,0.168000,0.088000,2.632000
8,40-020,"Angle, M.S",kg,60.0,12.068910,8.620650,9.655110,6.206850,24.137820
9,40-020,"(Angle, M.S. .... ... ... ... ... ... ...)",kg,60.0,0.002070,0.001440,0.001620,0.001080,0.004140
10,40-645,"Sheet, Plain G.I. 16 BWG ... ... ... ...",sqm,600.0,9.000000,4.320000,5.760000,2.160000,36.000000
11,40-740,"Welding, Arc",pnt,2.5,6.300000,4.500000,5.025000,3.225000,12.600000
12,70-080,Concrete Mix Machine 0.2 cum : 8 hrs day,day,1100.0,8.140000,4.840000,4.180000,2.090000,65.230000
13,80-375,"Labour, Unskilled",day,480.0,171.744000,103.008000,87.936000,43.968000,1373.760000
14,80-425,Mason,day,620.0,14.384000,8.680000,7.378000,3.720000,115.320000
15,80-430,"Mason, Head",day,650.0,2.795000,1.690000,1.430000,0.715000,22.490000
16,80-435,"Mason, Helper",day,470.0,5.123000,3.055000,2.632000,1.316000,40.984000
17,80-500,"Operator, Mixture Machine",day,650.0,4.810000,2.860000,2.470000,1.235000,38.545000
18,80-755,Welder .,day,620.0,1.736000,1.240000,1.426000,0.868000,3.472000
19,NaN,Sum of Subtotal,NaN,NaN,1441.643675,866.142897,747.471809,375.298444,11761.638491
20,NaN,Overhead,NaN,NaN,36.041092,21.653572,18.686795,9.382461,294.040962
21,NaN,Item Total,NaN,NaN,1477.684767,887.796470,766.158604,384.680906,12055.679454
22,NaN,Contractors Profit,NaN,NaN,147.768477,88.779647,76.615860,38.468091,1205.567945
23,NaN,Total,NaN,NaN,1625.453244,976.576117,842.774464,423.148996,13261.247399
24,NaN,Vat,NaN,NaN,121.908993,73.243209,63.208085,31.736175,994.593555
25,NaN,Item Grand Total,NaN,NaN,1747.362237,1049.819325,905.982549,454.885171,14255.840954

In [11]:
q_template_df

,codeno,Description,Unit,rate,40-190-15,40-190-05,40-190-35,40-190-40,28-120-20
0,10-040,Bricks : 1st Class,Nos,9.5,1.333300,0.800000,0.853300,0.426700,5.333300
1,10-100,Cement : Portland .,Kgs,10.0,32.039872,19.223923,16.404414,8.202207,378.987720
2,10-380,"Sand, FM >= 1.5",cum,1050.0,0.055625,0.033375,0.028480,0.014240,0.394779
3,10-475,"Stone, Chips : 40mm down graded",cum,6500.0,0.122016,0.073209,0.062472,0.031236,0.865967
4,20-245,Diesel/ Fuel,litre,65.0,0.176538,0.105923,0.090387,0.045194,1.412300
5,20-310,Lubricant ( Mobile oil etc.),litre,400.0,0.008850,0.005310,0.004531,0.002266,0.070800
6,20-500,Polythene Sheet : (1.0 kg per 16.00 sqm),sqm,15.0,0.375000,0.225000,0.240000,0.120000,1.500000
7,20-505,Putty,kg,80.0,0.004100,0.002500,0.002100,0.001100,0.032900
8,40-020,"Angle, M.S",kg,60.0,13.409900,9.578500,10.727900,6.896500,26.819800
9,40-020,"(Angle, M.S. .... ... ... ... ... ... ...)",kg,60.0,0.002300,0.001600,0.001800,0.001200,0.004600
10,40-645,"Sheet, Plain G.I. 16 BWG ... ... ... ...",sqm,600.0,1.000000,0.480000,0.640000,0.240000,4.000000
11,40-740,"Welding, Arc",pnt,2.5,168.000000,120.000000,134.000000,86.000000,336.000000
12,70-080,Concrete Mix Machine 0.2 cum : 8 hrs day,day,1100.0,0.007400,0.004400,0.003800,0.001900,0.059300
13,80-375,"Labour, Unskilled",day,480.0,0.357800,0.214600,0.183200,0.091600,2.862000
14,80-425,Mason,day,620.0,0.023200,0.014000,0.011900,0.006000,0.186000
15,80-430,"Mason, Head",day,650.0,0.004300,0.002600,0.002200,0.001100,0.034600
16,80-435,"Mason, Helper",day,470.0,0.010900,0.006500,0.005600,0.002800,0.087200
17,80-500,"Operator, Mixture Machine",day,650.0,0.007400,0.004400,0.003800,0.001900,0.059300
18,80-755,Welder .,day,620.0,0.002800,0.002000,0.002300,0.001400,0.005600